# TODO: Update with exact module version
numpy
torch>=1.7
loguru
tqdm
torchvision
thop
ninja
tabulate
pandas
# verified versions
# pycocotools corresponds to https://github.com/ppwwyyxx/cocoapi
pycocotools>=2.0.2
